@font-face {
    font-family: Arvo;
    src: url(../Arvo/Arvo-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}



body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg.png);
    -webkit-backface-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Poppins;
    min-width: 900px;
}

#container {
    min-height: 100%; 
    min-width: 100%;
}


a {
    color: black;
    text-decoration: none;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

.wrapper{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    font-family: Poppins;
    text-align: center;
    min-width: 700px;
}

.wrapper h1{
    margin: 0;
    padding: 0;
    color: #000;
    text-shadow: 0 2px 0 rgba(0,0,0,.1);
    font-size: 60px;
}

.wrapper h2{
    margin: 0;
    padding: 0;
    color: #a8a8a8;
    text-shadow: 0 2px 0 rgba(0,0,0,.05);
    font-size: 21px;
}

.wrapper h3{
    margin: 0;
    padding: 0;
    color: #000;
    text-shadow: 0 2px 0 rgba(0,0,0,.05);
    font-size: 30px;
}


.wrapper h3{
    margin: 0;
    padding: 0;
    color: #000;
    text-shadow: 0 2px 0 rgba(0,0,0,.05);
    font-size: 30px;
}

.wrapper p{
    color: #000;
    font-size: 12px;
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    width: 600px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0);
    padding: 0;
}


.wrapper span:before{
    content: 'creating change.';
    animation: animate infinite 8s;
}

@keyframes animate{
    0%{
        content: 'Computer Science';
    }
    20%{
        content: 'Design';
    }
    40%{
        content: 'Neuroscience';
    }
    60%{
        content: 'Art';
    }
    80%{
        content: 'Artificial Intelligence';
    }
    100%{
        content: 'Computer Science';
    }
}


.topnav {
    overflow: hidden;
    background-color: #fff;
    padding-left: 1%;
    padding-top: 1%;
  }
  
  .topnav a {
    float: left;
    color: #a8a8a8;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 21px;
    font-family: Poppins;
  }
  
  .topnav a:hover {
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0,.05);;
    color: black;
  }


  .contact {
    display: inline-block;
    float: right;
    padding-top: 3%;
    padding-right: 3%;
    font-size: 24px;
  }


  

#gray-box {
    padding: 3% 5%;
    width: 80%;
    height: 100%;
    align-content: center;
    background: rgba(179, 179, 179, 0.75);
    background-clip: border-box;  
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}


#white-box {
    padding: 15px 15px;
    width: 90%;
    height: 100%;
    align-content: center;
    background-clip: border-box;  
    margin-left: auto;
    margin-right: auto;
  }


.imgcard {
  position: relative;
  display: inline-block;
}

.imgcardimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(179, 179, 179, 0.85);
}

.imgcard:hover .overlay {
  opacity: 1;
}

.imgcardtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.highlight {
    color: #fff;
    background-color: rgba(179, 179, 179, 0);
    background-image: linear-gradient(to right, rgba(179, 179, 179, 1) 0%, rgba(179, 179, 179, 1) 100%);
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.parent {
    display: flex;
    flex-direction:row;
}


.column {
    flex: 1 1 0px;
  }