@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Eczar:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Prata:100,300,400,700,900");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #FEAAB9;
}

#page-wrapper {
    /* background: url(../images/page-bg.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fff;
    width: 100%;
}


/* Basic */

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 14px;
    color: #252632;
}

h1 {
    font-size: 6vw;
    line-height: 8vw;
    font-family: 'Prata';
}

h2 {
    font-size: 24px;
    color: #252632;
    font-weight: 700;
}

h3 {
    font-size: 3vw;
    color: #252632;
    font-weight: 400;
    font-family: 'Prata';
}

h4 {
    font-size: 2vw;
    font-weight: 700;
    color: #252632;
    letter-spacing: 0.25px;
}

img {
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
}


/* Section */

.section {
    position: relative;
    min-height: fit-content;
    margin-bottom: 70px;
    /* border-bottom: 3px solid #252632; */
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #252632;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #F90634;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #252632;
    letter-spacing: 0.5px;
}

.section-heading span a {
    color: #F90634;
}


/* Buttons */

.resume-button {
    display: inline-block;
    padding: .75% 1.5%;
    background-color: #FEF5F6;
    color: #DA3347;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: 2px solid #DA3347;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    z-index: 10 !important;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.resume-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEF5F6;
    border-radius: 10rem;
    z-index: -2;
}

.resume-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #F6824B;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.resume-button:hover {
    color: #fff;
}

.resume-button:hover:before {
    width: 100%;
}



/* Blobs */

.blob-btn {
    background: white;
    border: none;
    width: 100%;
    height: 100%;
}

.blob-btn:focus {
    outline: none;
}

.blob-btn:hover {
    background-color: #fff;
}

svg path {
    cursor: pointer;
}

.blobbo {
    width: 360px;
    height: 360px;
    border-radius: 29% 20% 23% 71% / 40% 40% 36% 46%;
    background-color: #F90634;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -99;
}



/* Figure */

figure.snip1 {
    overflow: hidden;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
}

figure.snip1 figcaption {
    top: 100%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

figure.snip1 h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #252632;
}

figure.snip1 span {
    font-size: 1.2vw;
    /* font-style: italic; */
    display: block;
    color: #252632;
    width: 90%;
}

figure.snip1 span a {
    color: #F90634;
}


/* Flower Mouse */

.flowers {
    pointer-events: none;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: implode 1s ease-in-out;
    animation-fill-mode: both;
    opacity: .99;
    /* background-image: url('../images/flower-7.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 3;
}

@keyframes implode {
    100% {
        transform: scale(0)
    }
}


.landing {
    width: 100%;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.landing-flowers {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 100px;
    z-index: 2;
}

.flower-0 {
    top: 18vw;
    left: 50vw;
    height: 9vw;
}

.flower-1 {
    top: 1vw;
    left: 30vw;
    height: 6vw;
}

.flower-2 {
    top: 47vw;
    left: 14vw;
    height: 8vw;
}

.flower-3 {
    top: 40vw;
    left: 55vw;
    height: 7vw;
}

.flower-4 {
    top: 28vw;
    left: 85vw;
    height: 10vw;
}

.flower-5 {
    top: 45vw;
    left: 63vw;
    height: 8vw;
}

.flower-6 {
    top: 42vw;
    left: 20vw;
    height: 8vw;
}

.flower-7 {
    top: 6vw;
    left: 60vw;
    height: 9vw;
}


/* Cards */

.card-container {
    flex: 800px;
    margin: 22px;
    margin-right: 120px;
}

.card-container .card-main {
    font-weight: bold;
    position: relative;
    width: 100%;
    border-radius: 20px;
    /* box-shadow:0px 0px 0px 2px #252632 inset; */
    outline: 2px dashed #252632;
    outline-offset: -2px;
    text-overflow: ellipsis;
}

.card-container .card-main a {
    padding-top: 10px;
    padding-left: 30px;
    width: 100%;
    height: 100px;
    border: 2px solid #252632;
    border-radius: 20px;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
    z-index: 10 !important;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container .card-main a:hover {
    transform: translate(20px, -20px);
    border-color: #F90634;
    border-radius: 20px;
}

.card-container .card-main a:hover .card-display {
    display: none;
}

.card-container .card-main a:hover .card-hover {
    display: block;
}

.card-container .card-main a .card-display i {
    font-size: 30px;
    margin-top: 5px;
    color: #252632;
    /* fill: 1; */
}

.card-container .card-main a .card-display h2 {
    margin: 0px 0 0;
}

.card-container .card-main a .card-hover {
    display: none;
}

.card-container .card-main a .card-hover h2 {
    margin: 5px 0;
    font-size: 18px;
}

.card-container .card-main a .card-hover p {
    font-weight: normal;
    line-height: 1.5;
}

.card-container .card-main a .card-hover p.link {
    margin: 5px 0 0;
    font-weight: bold;
    color: #F90634;
}

.card-container .card-main .card-border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px dashed black;
    border-radius: 20px;
    z-index: 1;
}

.card-container .card-main.card-dark a {
    color: white;
    background-color: black;
    border-color: black;
}

.card-container .card-main.card-dark a .card-hover .link {
    color: #fde74c;
}


/* Scroll in */

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

/* More */


.vertical-text {
    writing-mode: vertical-rl;
    position: absolute;
    left: calc(100% - 220px);
    top: 0;
    line-height: 1;
    color: #252632;
    font-size: 80px;
    font-weight: 800;
    font-family: 'Prata';
}

.inline-para {
    text-align: center;
}

.inline-para img {
    max-height: 10vw;
    display: inline-block;
    vertical-align: middle;

    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.inline-para img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.inline-para i {
    font-size: 8vw;
    display: inline-block;
    vertical-align: middle;
}

h1 .line-dec {
    width: 50%;
    height: 3px;
    background-color: #252632;
    margin: 10px 50%;
}

/* Section specific */

.papers {
    padding-bottom: 5vw;
}

.art {
    padding-bottom: 9vw;
}

.art h1 {
    margin-left: 3%;
}

.art p {
    margin-left: 30%;
    font-size: 1.5vw;
}

.art a {
    color: #F90634;
}

.work {
    padding-bottom: 5vw;
    margin-bottom: 0px !important;
}

.work p {
    margin-left: 10%;
    font-size: 1.5vw;
}


/* Image grid */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 0px;
}

.column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* CTA button */

.cta {
    position: relative;
    margin: auto;
    padding: 28px 22px;
    transition: all 0.2s ease;
    top: 6vw;
    left: 40%;
    font-family: 'Prata';
    color: #252632;
    stroke: #252632;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 100px;
    background: rgba(251, 182, 195, 0.5);
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 1.8vw;
    line-height: 1.8vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #252632;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* stroke: #F90634; */
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover {
    color: #F90634;
    stroke: #F90634;
}

.cta:hover span {
    color: #F90634;
    stroke: #F90634;
}

.cta:hover:before {
    width: 100%;
    background: #f8c6cf;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

/* Footer */

footer {
    background-color: #0f0f16;
    color: #FEF5F6;
    padding: 5vw 10vw;
    /* text-align: center; */
}

footer h4 {
    color: #FEF5F6;
    font-size: 1.5vw !important;
    font-weight: 100;
}

footer i {
    color: #FEF5F6;
    font-size: 2vw !important;
    float: right;
    margin-left: 0.2vw;
}

footer i:hover {
    color: #FEAF23;
}

footer a {
    color: #FEF5F6;
    font-size: 1.5vw !important;
    margin-right: 1vw;
    font-weight: 300;
}

footer a:hover {
    color: #FEAF23;
}

footer .row {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8vw !important;
    display: flex;
    flex-wrap: wrap;
}

footer .line-dec {
    width: 100%;
    height: 1px;
    background-color: #FEF5F6;
    margin: 10px auto;
}